<footer>
    <div class="footer_namecard">
        <div class="namecard_content">
            <h1>Alwin Buist</h1>
            <h2>Junior Developer</h2>
            <a href="#link"><img src="email.png" alt="Email icon"></a>
            <a href="#link"><img src="github.png" alt="Github icon"></a>
            <a href="#link"><img src="linkedin.png" alt="Linkedin icon"></a>
        </div>
    </div>
    <div class="footer_links">
        <div class="links_content">
            <h1>Links</h1>
            <a href="#link">1</a>
            <a href="#link">2</a>
            <a href="#link">3</a>
        </div>
    </div>
    <div class="footer_contact">
        <div class="contact_content">
            <h1>Contact</h1>
            <h2>github.com/alwin0207</h2>
            <h2>alwin0207@gmail.com</h2>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>