<!-- <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Corona Check</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link <% if(currentUser){%>disabled<%} %>" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(currentUser){%>disabled<%} %>" href="/register">Register</a>
            </li>
            <li class="nav-item">
            <a class="nav-link <% if(!currentUser){%>disabled<%} %>" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
            </li>
        </ul>
        </div>
    </div>
</nav> -->


<nav class="myNav">
    <div class="myLogo">
        <a href="/"></a>
    </div>
    <ul class="navContent">
        <li><a href="/">Introduction</a></li>
        <li><a href="/test">Timeline</a></li>
        <li><a href="/under_construction">Projects</a></li>
    </ul>
    <div class="button_space">
        <button class="contact_button">Contact</button>
    </div>
</nav>