<nav class="myNav">
    <div class="myLogo">
        <a href="/"></a>
    </div>
    <ul class="navContent">
        <li><a href="/">Introduction</a></li>
        <li><a href="/test">Timeline</a></li>
        <li><a href="/under_construction">Projects</a></li>
    </ul>
    <div class="button_space">
        <button class="contact_button">Contact</button>
    </div>
</nav>