<div class="timeline_timeblock">
    <div class="timeblock_textblock">
        <div class="timeblock_textblock_leftdecoration"></div>
        <div class="timeblock_textblock_content">
            <h2><%= timeblockInput.title %></h2>
            <h3><%= timeblockInput.location %></h3>
            <p><%= timeblockInput.description %></p>
        </div>
    </div>
    <div class="timeblock_horizontal_line"></div>
    <div class="timeblock_vertical_line"></div>
    <div class="timeblock_timepoint">
        <h1><%= timeblockInput.timepoint %></h1>
    </div>
</div>