<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="profile_section intro">
    <div class="textspace">
        <h1>Wie ben ik?</h1>
        <p>
            Welkom op mijn portfoliosite. Mijn <span class="mybreak"><br></span> 
            naam is Alwin Buist en ik ben een <span class="mybreak"><br></span> 
            wetenschapscommunicator en junior <span class="mybreak"><br></span> 
            webdeveloper.
        </p>
    </div>
    <div class="social_media_links">
        <a href="#blabla"></a>
        <a href="#blabla"></a>
        <a href="#blabla"></a>
        <a href="#blabla"></a>
    </div>
    <div class="profile_picture_space">
        <img src="profilepicture.jpeg" alt="Profilepicture Alwin Buist">
    </div>
</div>
<div class="profile_section explanation">
    <div class="quotespace">
        <p class="quote_open">
            “
        </p>
        <p class="quote_text"> <!-- try fonts: Gelasio, arsenal, basic, im fell double pica,  -->
            Concern for man and his<span class="mybreak"><br></span>
            fate must always form the<span class="mybreak"><br></span>
            chief interest of all<span class="mybreak"><br></span>
            technical endeavors.<span class="mybreak"><br></span>
            Never forget this in the<span class="mybreak"><br></span>
            midst of your diagrams<span class="mybreak"><br></span>
            and equations.
        </p>
        <p class="quote_close">
            ”
        </p>
        <p class="quote_author">
            Albert Einstein
        </p>
    </div>
    <div class="textspace">
        <h1>
            Design filosofie
        </h1>
        <p>
            Ik probeer elk project te benaderen<span class="mybreak"><br></span>
            met twee kernwoorden: "simpel en<span class="mybreak"><br></span>
            waardevol".<br>
            <br>
            Houd het ontwerp simpel en leg de<span class="mybreak"><br></span> 
            focus op het doel.<br>
            <br>
            Verlies nooit de waarde van een<span class="mybreak"><br></span> 
            product uit het oog. Design is<span class="mybreak"><br></span>
            bedoeld om het leven van mensen<span class="mybreak"><br></span>
            te vereiken.
        </p>
    </div>
</div>

<%- include("partials/footer") %>