<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="profile_section intro">
    <div class="textspace">
        <h1>Wie ben ik?</h1>
        <p>
            Welkom op mijn portfoliosite. Mijn <br> 
            naam is Alwin Buist en ik ben een <br>  
            wetenschapscommunicator en junior <br>
            webdeveloper.
        </p>
    </div>
    <div class="social_media_links">
        <a href="#blabla"></a>
        <a href="#blabla"></a>
        <a href="#blabla"></a>
        <a href="#blabla"></a>
    </div>
    <div class="profile_picture_space">
        <img src="profilepicture.jpeg" alt="Profilepicture Alwin Buist">
    </div>
</div>
<div class="profile_section explanation">
    <div class="quotespace">
        <p class="quote_open">
            “
        </p>
        <p class="quote_text">
            Concern for man and his<br>
            fate must always form the<br>
            chief interest of all<br>
            technical endeavors.<br>
            Never forget this in the<br>
            midst of your diagrams<br>
            and equations.
        </p>
        <p class="quote_close">
            ”
        </p>
        <p class="quote_author">
            Albert Einstein
        </p>
    </div>
    <div class="textspace">
        <h1>
            Design filosofie
        </h1>
        <p>
            Ik probeer elk project te benaderen<br>
            met twee kernwoorden: "simpel en<br>
            waardevol".<br>
            <br>
            Houd het ontwerp simpel en leg de<br> 
            focus op het doel.<br>
            <br>
            Verlies nooit de waarde van een<br> 
            product uit het oog. Design is<br>
            bedoeld om het leven van mensen<br>
            te vereiken.<br>
        </p>
    </div>
</div>

<%- include("partials/footer") %>