a{
   text-decoration: none;
   color: inherit;
}

.profile_section{ /* Needs a container inside*/
    display: grid;
    align-content: stretch;
    justify-content: stretch;
}

.profile_section.intro{
    grid-template-columns: 5% 0.1fr 36% 2fr 5% 0.1fr 20% 1fr 5% 0.1fr;
    grid-template-rows: 2.8vw 0fr 28vw 0fr 1.4vw 0fr 8.4vw 0fr 2.8vw 0fr;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

.profile_section.explanation{
    grid-template-columns: 5% 0fr 34% 3.5fr 5% 0fr 43% 5fr 5% 0fr;
    grid-template-rows: 4vw 0fr 45vw 0fr 4vw 0fr;
    background-color: hsl(0, 0%, 84%);
}

.intro .textspace{
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;
}

.intro .profile_picture_space{
    grid-column: 7/span 2;
    grid-row: 3/ span 6;
    background-color: blue;
}


.intro .social_media_links{
    grid-column: 3/ span 2;
    grid-row: 7/span 2;
}



.explanation .textspace{
    grid-column: 7/ span 2;
    grid-row: 3/ span 2;
}

.explanation .quotespace{
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;
    background-color: #151515;
    color: white;
    border-radius: 20px;
}

.textspace h1{
    font-size: 6vw;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4vw;
    word-spacing: 1rem;
}

.textspace p{
    font-size: 2.1vw;
    margin: 0px;
    line-height: 1.3em;
    word-spacing: 0.9rem;
    letter-spacing: 0.2rem;
}

.social_media_links{
    display: flex;
    align-items: center;
}

.social_media_links a{
    display: block;
    height: 5vw;
    width: 5vw;
    background-color: rgb(19, 136, 77);
    text-decoration: none;
    margin-left: 1.5vw;
    border-radius: 50%;
    
}

.quotespace{
    display: grid;
    grid-template-columns: 50px 1fr 20px 0fr 1px 0fr fit-content(80%) 0fr 1px 0fr 20px 0fr 50px 1fr;
    grid-template-rows: 30px 1fr 20px 0fr 1px 0fr min-content 0fr 1px 0fr 20px 0fr 110px 0fr 20px 0fr 50px 1fr;
    align-items: stretch;
    justify-items: stretch;
    font-size: 2.3vw;
    line-height: 1.1em;
    word-spacing: 0.3rem;
}

.quote_open{
    grid-column: 3/ span 2 ;
    grid-row: 3/ span 2 ;
    font-size: 3vw;
    font-weight: 900;
}

.quote_close{
    display: inline;
    grid-column: 11/ span 2;
    grid-row: 11/ span 2;
    font-size: 3vw;
    font-weight: 900;
    line-height: 1em;
    margin: 0px;
    
}

.quote_text{
    grid-column: 7/span 1;
    grid-row: 7/span 1;
    margin: 0px;
}

.quote_author{
    grid-column: 7/ span 2;
    grid-row: 15/ span 2;
}

.profile_picture_space img{
    height: 100%;
    width: 100%;
}


/* timeline */

.timeline_topspace{
    background-color: #292828;
    min-height: 80px;
    width: 100vw;
}

.timeline_topspace h1{
    color: white;
    font-size: 5vw;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.timeline_section{
    background-color: #292828;
}



.timeline_timeblock{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 80px 35% 1fr 70px 1fr 35% 80px;
    grid-template-rows: 0px 30px 10px 30px min-content 200px;
    
    width: 100vw;
}


.timeblock_textblock{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 1fr 40px;
    justify-content: stretch;
    align-content: stretch;
    overflow: hidden;
}

.timeblock_textblock_leftdecoration{
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: rgb(96, 167, 224);
    margin: 0px;
}

.timeblock_textblock_content{
    grid-column: 2;
    grid-row: 1;
}



/* Uneven */

.timeline_timeblock:nth-child(2n+1) .timeblock_textblock{
    grid-column: 2;
    grid-row: 2/ span 5;
    background-color: #e0e0e0;
}

.timeline_timeblock:nth-child(2n+1) .timeblock_horizontal_line{
    grid-column: 3;
    grid-row: 3;
    background-color: rgb(47, 194, 133);
}

.timeblock_timepoint{
    display: flex;
    grid-column: 4;
    grid-row: 2/ span 3;
    background-color: rgb(47, 194, 133);
    border-radius: 50%;
}

.timeblock_timepoint h1{
    width: 100%;
    text-align: center;
    align-self: center;
}

.temp_line_grid_basis{
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-rows: 20px;
    grid-auto-rows: min-content;
}

/* even */

.timeline_timeblock:nth-child(2n) .timeblock_textblock{
    grid-column: 6;
    grid-row: 2/ span 5;
    background-color: #e0e0e0;
}

.timeline_timeblock:nth-child(2n) .timeblock_horizontal_line{
    grid-column: 5;
    grid-row: 3;
    background-color: rgb(47, 194, 133);
}

/*mid line*/

.timeline_timeblock:nth-last-child(n+2) .timeblock_vertical_line{
    grid-column: 4;
    grid-row: 2/ span 5;
    background-color: rgb(47, 194, 133);
    justify-self: center;
    align-self: start;
    margin-top: 10px;
    width: 10px;
    height: 100%;
}

.timeline_timeblock:nth-last-child(1){
    padding-bottom: 80px;
}

.timeline_section.schooling{
    background-color:#dbdbdb;
   }
   
.timeline_section.schooling .timeblock_textblock{
   background-color: #292828;
   color: white;
}

.timeline_section.schooling .timeblock_textblock_leftdecoration{
    background-color: rgb(47, 194, 133);
}

.timeline_section.schooling .timeblock_horizontal_line{
    background-color: #8f8f8f;
}

.timeline_section.schooling .timeblock_vertical_line{
    background-color: #8f8f8f;
}

.timeline_section.schooling .timeblock_timepoint{
    background-color: #8f8f8f;
}

.title_space_schooling{
    background-color: #dbdbdb;
    min-height: 80px;
    width: 100vw;
}

.title_space_schooling h1{
    color: black;
    font-size: 5vw;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.timeblock_textblock h2{
    font-size: 3.2vw;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.timeblock_textblock h3{
   font-size: 1.8vw;
   margin-left: 40px;
   margin-top: 0px;
   margin-bottom: 4px;
}

footer{
    display: grid;
    grid-template-columns: min-content min-content min-content 1fr;
    grid-template-rows: 20px 1fr 20px;
    background-color: #292828;
    color: #e0e0e0;
}

.footer_namecard{
    grid-column: 1;
    grid-row:2;
}

.footer_links{
    grid-column: 2;
    grid-row: 2;
}

.footer_contact{
    grid-column: 3;
    grid-row: 2;
}

.namecard_content{
    display: grid;
    grid-template-columns: 100px 25px 10px 25px 10px 25px max-content 100px ;
    grid-template-rows: 1fr min-content min-content 1fr 25px 1fr;
    height: 100%;
    align-self: stretch;
    align-content: stretch;
    justify-content: stretch;
    border-right: 5px solid #e0e0e0c0;
}

.namecard_content h1{
    grid-column: 2/ span 6;
    grid-row: 2;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: .2rem;
}

.namecard_content h2{
    grid-column: 2/ span 6;
    grid-row: 3;
    font-size: 40px;
    font-weight: normal;
}

.namecard_content a:nth-child(3){
    grid-row: 5;
    grid-column: 2;
}

.namecard_content a:nth-child(4){
    grid-row: 5;
    grid-column: 4;
    align-self: center;
}

.namecard_content a:nth-child(5){
    grid-row: 5;
    grid-column: 6;
}

.namecard_content img{
    width: 100%;
    height: 100%;
}



.links_content{
    display: grid;
    grid-template-columns: 100px max-content;
    grid-template-rows: 67px 17px;
    grid-auto-rows: 35px;
    height: 100%;
}



.links_content h1{
    grid-row: 1;
    grid-column: 2;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.links_content a{
    display: block;
    font-size: 25px;
    font-weight: normal;
    align-self: center;
    line-height: 1.2rem;
}

.links_content a::before{
    content: "●";
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1.5em; 
    padding-left: -1em; 
}

.links_content a:nth-child(2){
    grid-row: 3;
    grid-column: 2;
}
.links_content a:nth-child(3){
    grid-row: 4;
    grid-column: 2;
}
.links_content a:nth-child(4){
    grid-row: 5;
    grid-column: 2;
}

.contact_content{
    display: grid;
    grid-template-columns: 100px max-content;
    grid-template-rows: 67px 20px;
    grid-auto-rows: 35px;
    height: 100%;
}

.contact_content h1{
    grid-row: 1;
    grid-column: 2;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.contact_content h2{
    display: block;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0px;
    align-self: center;
}

.contact_content h2::before{
    content: "●";
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1.5em; 
    padding-left: -1em; 
}

.contact_content h2:nth-child(2){
    grid-row: 3;
    grid-column: 2;
}
.contact_content h2:nth-child(3){
    grid-row: 4;
    grid-column: 2;
}
.contact_content h2:nth-child(4){
    grid-row: 5;
    grid-column: 2;
}