a{
   text-decoration: none;
   color: inherit;
}

.profile_section{ /* Needs a container inside*/
    display: grid;
    align-content: stretch;
    justify-content: stretch;
    font-family: 'Fahkwang', sans-serif;
    font-weight: light;
}

.profile_section.intro{
    grid-template-columns: 5% 0.1fr 36% 2fr 5% 0.1fr 20% 1fr 5% 0.1fr;
    grid-template-rows: 2.8vw 0fr 28vw 0fr 1.4vw 0fr 8.4vw 0fr 2.8vw 0fr;
    background-color: hsl(0, 0%, 10%);
    color: #eeeeee;
}

.profile_section.explanation{
    grid-template-columns: 5% 0fr 34% 3.5fr 5% 0fr 43% 5fr 5% 0fr;
    grid-template-rows: 4vw 0fr 45vw 0fr 4vw 0fr;
    background-color: hsl(0, 0%, 84%);
}

.intro .textspace{
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;
}

.intro .profile_picture_space{
    grid-column: 7/span 2;
    grid-row: 3/ span 6;
    background-color: blue;
}


.intro .social_media_links{
    grid-column: 3/ span 2;
    grid-row: 7/span 2;
}



.explanation .textspace{
    grid-column: 7/ span 2;
    grid-row: 3/ span 2;
}

.explanation .quotespace{
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;
    background-color: #151515;
    color: #eeeeee;
    border-radius: 20px;
}

.textspace h1{
    font-size: 5.4vw;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4vw;
    word-spacing: 1rem;
    
}

.textspace p{
    font-size: 2.1vw;
    margin: 0px;
    line-height: 1.3em;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
}

.social_media_links{
    display: flex;
    align-items: center;
}

.social_media_links a{
    display: block;
    height: 3vw;
    width: 3vw;
    background-color: rgb(19, 136, 77);
    text-decoration: none;
    margin-left: 1.5vw;
    border-radius: 50%;
    
}

.social_media_links a:nth-child(1){
    margin-left: 0px;
}

.quotespace{
    display: grid;
    grid-template-columns: 50px 1fr 20px 0fr 1px 0fr fit-content(80%) 0fr 1px 0fr 20px 0fr 50px 1fr;
    grid-template-rows: 30px 1fr 20px 0fr 1px 0fr min-content 0fr 1px 0fr 20px 0fr 80px 0fr 20px 0fr 50px 1fr;
    align-items: stretch;
    justify-items: stretch;
    font-size: 2.6vw;
    line-height: 1.1em;
    word-spacing: 0.2rem;
    font-family: 'Neuton', serif;
}

.quote_open{
    grid-column: 3/ span 2 ;
    grid-row: 3/ span 2 ;
    font-size: 4vw;
    font-weight: 300;
    font-family: 'Cardo', serif;
}

.quote_close{
    display: inline;
    grid-column: 11/ span 2;
    grid-row: 11/ span 2;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1em;
    margin: 0px;
    font-family: 'Cardo', serif;
    
}

.quote_text{
    grid-column: 7/span 1;
    grid-row: 7/span 1;
    margin: 0px;
    font-weight: lighter;
}

.quote_author{
    grid-column: 7/ span 2;
    grid-row: 15/ span 2;
    font-family: 'Neuton', serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2vw;
}

.profile_picture_space img{
    height: 100%;
    width: 100%;
}


/* timeline */

.timeline_topspace{
    background-color: #292828;
    min-height: 80px;
    width: 100vw;
    font-family: 'Fahkwang', sans-serif;
    font-weight: light;
}

.timeline_topspace h1{
    color: #eeeeee;
    font-size: 5vw;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.timeline_section{
    background-color: #292828;
    font-family: 'Fahkwang', sans-serif;
    font-weight: light;
}



.timeline_timeblock{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 80px 35% 1fr 70px 1fr 35% 80px;
    grid-template-rows: 0px 30px 10px 30px min-content 200px;
    
    width: 100vw;
}


.timeblock_textblock{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 1fr 40px;
    justify-content: stretch;
    align-content: stretch;
    overflow: hidden;
}

.timeblock_textblock_leftdecoration{
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: rgb(96, 167, 224);
    background-color: rgb(65,157,180);
    margin: 0px;
}

.timeblock_textblock_content{
    grid-column: 2;
    grid-row: 1;
}



/* Uneven */

.timeline_timeblock:nth-child(2n+1) .timeblock_textblock{
    grid-column: 2;
    grid-row: 2/ span 5;
    background-color: #e0e0e0;
}

.timeline_timeblock:nth-child(2n+1) .timeblock_horizontal_line{
    grid-column: 3;
    grid-row: 3;
    background-color: rgb(47, 194, 133);
}

.timeblock_timepoint{
    display: flex;
    grid-column: 4;
    grid-row: 2/ span 3;
    background-color: rgb(47, 194, 133);
    border-radius: 50%;
}

.timeblock_timepoint h1{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 2.2vw;
    margin-bottom: 0px;
    font-weight: bold;
}

.temp_line_grid_basis{
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-rows: 20px;
    grid-auto-rows: min-content;
}

/* even */

.timeline_timeblock:nth-child(2n) .timeblock_textblock{
    grid-column: 6;
    grid-row: 2/ span 5;
    background-color: #e0e0e0;
}

.timeline_timeblock:nth-child(2n) .timeblock_horizontal_line{
    grid-column: 5;
    grid-row: 3;
    background-color: rgb(47, 194, 133);
}

/*mid line*/

.timeline_timeblock:nth-last-child(n+2) .timeblock_vertical_line{
    grid-column: 4;
    grid-row: 2/ span 5;
    background-color: rgb(47, 194, 133);
    justify-self: center;
    align-self: start;
    margin-top: 10px;
    width: 10px;
    height: 100%;
}

.timeline_timeblock:nth-last-child(1){
    padding-bottom: 80px;
}

.timeline_section.schooling{
    background-color:#dbdbdb;
   }
   
.timeline_section.schooling .timeblock_textblock{
   background-color: #292828;
   color: #ececec;
}

.timeline_section.schooling .timeblock_textblock_leftdecoration{
    background-color: rgb(47, 194, 133);
}

.timeline_section.schooling .timeblock_horizontal_line{
    background-color: #8f8f8f;
}

.timeline_section.schooling .timeblock_vertical_line{
    background-color: #8f8f8f;
}

.timeline_section.schooling .timeblock_timepoint{
    background-color: #8f8f8f;
}

.title_space_schooling{
    background-color: #dbdbdb;
    min-height: 80px;
    width: 100vw;
}

.title_space_schooling h1{
    color: black;
    font-size: 5vw;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.timeblock_textblock h2{
    font-size: 3.2vw;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.timeblock_textblock h3{
   font-size: 1.8vw;
   margin-left: 40px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.jaren{
    font-size: 1.1vw;
    font-style: italic;
    text-align: center;
}

.workyear{
    display: inline-block;
    font-size: 1.1vw;
}
.workloc{
    display: inline-block;
    /* font-size: 1.5vw; */
    text-align: center;
}

.timeblock_textblock h4{
    font-size: 1.8vw;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 36px;
    font-style: italic;
}


footer{
    display: grid;
    grid-template-columns: min-content min-content min-content 1fr;
    grid-template-rows: 20px 1fr 20px;
    background-color: #292828;
    color: #eeeeee;
    font-family: 'Fahkwang', sans-serif;
}

.background_space{
    grid-column: 4;
    grid-row: 1/ span 3;
    position: relative;
    overflow: hidden;
}

.background_space img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: auto;
    max-height: 75%;
    margin-bottom: 0px
}

.footer_namecard{
    grid-column: 1;
    grid-row:2;
}

.footer_links{
    grid-column: 2;
    grid-row: 2;
}

.footer_contact{
    grid-column: 3;
    grid-row: 2;
}

.namecard_content{
    display: grid;
    grid-template-columns: 100px 30px 10px 30px 10px 30px max-content 100px ;
    grid-template-rows: 1fr min-content min-content 1fr 30px 1fr;
    height: 100%;
    align-self: stretch;
    align-content: stretch;
    justify-content: stretch;
    border-right: 4px solid #e0e0e0c0;
}

.namecard_content h1{
    grid-column: 2/ span 6;
    grid-row: 2;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: .2rem;
}

.namecard_content h2{
    grid-column: 2/ span 6;
    grid-row: 3;
    font-size: 30px;
    font-weight: normal;
}

.namecard_content a:nth-child(3){
    grid-row: 5;
    grid-column: 2;
}

.namecard_content a:nth-child(4){
    grid-row: 5;
    grid-column: 4;
    align-self: center;
}

.namecard_content a:nth-child(5){
    grid-row: 5;
    grid-column: 6;
}

.namecard_content img{
    width: 100%;
    height: 100%;
}



.links_content{
    display: grid;
    grid-template-columns: 100px max-content;
    grid-template-rows: 57px 15px;
    grid-auto-rows: 35px;
    height: 100%;
}



.links_content h1{
    grid-row: 1;
    grid-column: 2;
    font-size: 40px;
    width: fit-content;
    padding-right: 30px;
    border-bottom: 1px solid white;
}

.links_content a{
    display: block;
    font-size: 23px;
    font-weight: normal;
    align-self: center;
    line-height: 1.2rem;
}

.links_content a::before{
    content: "●";
    color: rgb(19, 136, 77);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 1.5em; 
    padding-left: -1em; 
}

.links_content a:nth-child(2){
    grid-row: 3;
    grid-column: 2;
}
.links_content a:nth-child(3){
    grid-row: 4;
    grid-column: 2;
}
.links_content a:nth-child(4){
    grid-row: 5;
    grid-column: 2;
}

.contact_content{
    display: grid;
    grid-template-columns: 100px max-content;
    grid-template-rows: 57px 15px;
    grid-auto-rows: 35px;
    height: 100%;
}

.contact_content h1{
    display: inline-block;
    grid-row: 1;
    grid-column: 2;
    font-size: 40px;
    width: fit-content;
    padding-right: 30px;
    border-bottom: 1px solid white;
}

.contact_content h2{
    display: block;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 0px;
    align-self: center;
}

.contact_content h2::before{
    content: "●";
    color: rgb(19, 136, 77);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 1.5em; 
    padding-left: -1em; 
}

.contact_content h2:nth-child(2){
    grid-row: 3;
    grid-column: 2;
}
.contact_content h2:nth-child(3){
    grid-row: 4;
    grid-column: 2;
}
.contact_content h2:nth-child(4){
    grid-row: 5;
    grid-column: 2;
}

.navbarless_full{
    height: calc(100vh - 285px);
    width: 100vw;
}

.myNav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    align-content: center;
    width: 100%;
    height: 75px;
    background-color: #505050;
    color: #e0e0e0;
}

.myLogo{
    margin-left:80px;
    width: 100px;
    background-image: url("/ab.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navContent{
    margin-left: 80px;
    display: inline-flex;
    justify-content: safe;
    align-items: center;
    margin: 0px;
}

.navContent li{
    font-size: 2.5vw;
    list-style: none;
    margin-left: 2vw;
}

.button_space{
    flex-grow: 100;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.contact_button{
    
    margin-right: 80px;
    background-color: rgb(38, 120, 226);
    background-color: rgb(65,157,180);
    color: #e0e0e0;
    padding: 2px 20px;
    border: none;
    border-radius: 20px;
    font-size: 2.5vw;
}

#notfoundpage{
    background-image: url(/not_found.svg);
    height: 100vh;
    width: 100vw;
    background-size: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: bottom ;
}

#notfoundpage a{
    display: block;
    padding: 30px 50px;
    background-color: blue;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    margin-bottom: 2%;
}

#constructionpage{
    background-image: url(/under_construction_background.svg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#constructionpage a{
    position: absolute;
    top: 60%;
    left: 10%;
    padding: 30px 50px;
    background-color: blue;
    text-decoration: none;
    color: white;
}